.colorTitle {
  color: hsl(343, 36%, 49%);

}

ol ul {
  margin-bottom: 20px;
  /* Adjust the value to increase or decrease space */
}

/* 
ul {
  padding: 0;
  margin: 0;
}
 */

.oppositeColor {
   color: hsl(163, 36%, 49%);
}